#root {
  /* max-width: 1280px; */
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Search bar styling */
.search-bar {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* Table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid wheat;
}

/* Table row styles */
.table-row:nth-child(even) {
  background-color: #000435; /* Dark Blue */
  color: #ffffff; /* White text for readability */
}

.table-row:nth-child(odd) {
  background-color: #00007e70; /* Dark Yellow */
  color: #ffffff; /* Black text for readability */
}

/* Header and cell text alignment */
th,
td {
  text-align: center;
  padding: 3px;
}

.google-calendar {
  border: 1px solid white;
}

th {
  user-select: none;
}

th:hover {
  background-color: #1d1d1d;
}

.reset {
  background-color: #010230;
  color: white;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
} 

.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  min-width: 700px; /* or however wide your table must be */
}

.title {
  margin-bottom: 0;
}